---
// Component Imports
import Main from '../layouts/main.astro'
import Hero from '../components/Hero.astro'
import Nav from '../components/Nav.astro'
import Skills from '../components/Skills.astro'
import AboutMe from '../components/AboutMe.astro'
import SkillBanner from '../components/SkillBanner.astro'
import Services from '../components/Services.astro'
import SelectedWorks from '../components/SelectedWorks.astro'
import Footer from '../components/Footer.astro'
---

<Main title='Home'>
	<div class='h-screen'>
		<Nav />
		<Hero />
	</div>
	<Skills />
	<AboutMe />
	<SkillBanner />
	<Services />
	<SelectedWorks />
	<Footer />
</Main>
<script>
	import '../scripts/starmap.ts'
</script>
