---
const { number, text } = Astro.props
---

<div class='flex flex-col mb-20'>
  <span class='text-2xl text-center'
    >{number}<span class='text-green-500'>+</span></span
  >
  <span class='text-xs font-extralight text-gray-500'>{text}</span>
</div>
