---
import { GitHub, Linkedin } from 'astro-feather-icons'
---

<hr class='mx-20 mt-4' />
<div class='mx-20 flex my-4 justify-end gap-3'>
  <a href='https://www.linkedin.com/in/william-trodd'>
    <GitHub />
  </a>
  <a href='https://www.github.com/williamTrodd'>
    <Linkedin />
  </a>
</div>
