---
import Button from './Button.astro'
---

<div
  class='flex items-center justify-between bg-gradient-to-b from-black to-transparent py-6 mx-20'
  id='navbar'
>
  <div class='text-4xl text-center pointer-events-none'>👾</div>
  <div class='flex gap-2 grow ml-24'>
    <a href='/'>Home</a>
    <a href='/'>Service</a>
    <a href='/'>Portfolio</a>
    <a href='/'>Blog</a>
  </div>
  <div class=''>
    <Button text='Get in Touch' link='mailto:william.trodd@gmail.com' />
  </div>
</div>
