---
import Button from './Button.astro'
---

<div class='flex mt-48 justify-between'>
  <div class='flex flex-col'>
    <div class='px-20 py-24'>
      <h3 class='text-green-text text-lg'>Portfolio</h3>
      <h4 class='text-4xl'>Selected works 2021-2023</h4>
    </div>
  </div>
  <div class='flex flex-col items-center'>
    <p class='px-20 py-24'>Placeholder for an image/link to project</p>
  </div>
  <div class='flex flex-col shrink-0'>
    <div class='flex flex-col items-center justify-around gap-4 px-20 py-24'>
      <span class='text-sm font-extralight'
        >Check out the rest of my portfolio</span
      >
      <Button text='View more' link='' />
    </div>
  </div>
</div>
