---
---

<div class='flex flex-col items-center mx-20'>
  <h3 class='text-green-text'>Services</h3>
  <h4 class='text-4xl mb-10'>Services I can offer</h4>
  <div class='grid grid-rows-2 grid-cols-5 mb-5'>
    <div class='col-span-5 text-2xl'>Software Development</div>
    <div class='col-start-3 col-span-3 text-sm text-gray-500 font-extralight'>
      Writing performant, efficient and cliamte friendly code with cutting edge
      technologies.
    </div>
  </div>
  <div
    class='grid grid-rows-1 grid-cols-5 border-gray-600 border-[1px] text-center text-sm divide-x-[1px] divide-gray-600'
  >
    <div class='py-6 px-2'>Mobile App Development</div>
    <div class='py-6 px-2'>Website Development</div>
    <div class='py-6 px-2'>Backend Development</div>
    <div class='py-6 px-2'>Frontend Development</div>
    <div class='py-6 px-2'>Python Data Analytics</div>
  </div>
</div>
