---
---

<div
  class='flex flex-col text-black lg:text-hero text-5xl whitespace-nowrap mx-auto items-center mb-20'
>
  <div class='bg-accent-green -rotate-6 uppercase py-3 brightness-[0.25]'>
    typescript · mongodb · react · express · node
  </div>
  <div class='bg-accent-green rotate-6 uppercase py-3 absolute'>
    express · react · node · typescript · mongodb
  </div>
</div>
